<h1>Listing Rooms</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.number %></td>
      <td><%= room.description %></td>
      <td><%= number_to_currency(room.price) %></td>
    </tr>
  <% end %>
</table>
